.Sun{
    width: 40px;
    height: 40px;
    position: relative;
    left: 0;
    top: 0;
    background-color: transparent;
    border-radius: 50%;
    animation: sun 3s linear infinite;
}
.Sun::after{
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: -120px;
    background-color: yellow;
    box-shadow: inset 0px 0px 20px 1px rgb(255, 255, 149), 0px 0px 20px 1px yellow;
    border-radius: 50%;
}
/* -----------ANIMATIONS----------- */
@keyframes sun {
    0% {}
	30% {
        left: 30px;
        transform: rotate(30deg);
	}
	70%{
        top: 30px;
        left: 30px;
        transform: rotate(100deg);
    }
	100% {
        top: 50px;
        left: -5px;
        transform: rotate(180deg);
	}
}