*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// VARIABLES
$light-brown: #d1c2bd;
$dark-brown: #998b86;
// 
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $light-brown;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    border: none;
    border-radius: 15px;
    background-color: $dark-brown;
    box-shadow: 0px 0px 10px $dark-brown;
    transition: 1s;

    .line{
      width: 200px;
      height: 45px;
      border-radius: 25px;
      background-color: $light-brown;
      box-shadow: inset 0px 0px 10px $dark-brown;
      position: relative;
      transition: 1s;
  }
    .line.one{
      animation: reverse-animation-one .7s ease-in-out;
    }
    .line.two{
      animation: reverse-animation-two .7s ease-in-out;
    }
    .line.three{
      animation: reverse-animation-three .7s ease-in-out;
    }

      &.active{
        .line.one{
          animation: animation-one .7s ease-in-out forwards;
        }
        .line.two{
          animation: animation-two .7s ease-in-out forwards;
        }
        .line.three{
          animation: animation-three .7s ease-in-out forwards;
        }
      }
}
.no-animation{
  animation: none !important;
}

// ANIMATIONS
@keyframes reverse-animation-one{
  0%{
    top: 65px;
    transform: rotate(45deg);
  }
  50%{
    top: 65px;
    transform: rotate(0deg);
  }
  100%{
    top: 0px;
    transform: rotate(0deg);
  }
}

@keyframes reverse-animation-two{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes reverse-animation-three{
  0%{
    top: -65px;
    transform: rotate(135deg);
  }
  50%{
    top: -65px;
    transform: rotate(0deg);
  }
  100%{
    top: 0px;
    transform: rotate(0deg);
  }
}

@keyframes animation-one {
  0%{
    top: 0px;
    transform: rotate(0deg);
  }
  50%{
    top: 65px;
    transform: rotate(0deg);
  }
  100%{
    top: 65px;
    transform: rotate(45deg);
  }
}

@keyframes animation-two {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}

@keyframes animation-three {
  0%{
    top: 0px;
    transform: rotate(0deg);
  }
  50%{
    top: -65px;
    transform: rotate(0deg);
  }
  100%{
    top: -65px;
    transform: rotate(135deg);
  }
}