*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
    gap: 20px;
    transition: 1s;

    .line{
      width: 200px;
      height: 45px;
      border-radius: 25px;
      background-color: white;
      border: 1px solid blue;
      position: relative;
      transition: 1s;
  }
    .line.um{
      animation: reverse1 .7s ease-in-out;
    }
    .line.dois{
      animation: reverse2 .7s ease-in-out;
    }
    .line.tres{
      animation: reverse3 .7s ease-in-out;
    }

      &.active{
        .line.um{
          animation: anima1 .7s ease-in-out forwards;
        }
        .line.dois{
          animation: anima2 .7s ease-in-out forwards;
        }
        .line.tres{
          animation: anima3 .7s ease-in-out forwards;
        }
      }
   
}
.no-animation{
  animation: none !important;
}

@keyframes reverse1{
  0%{
    top: 65px;
    transform: rotate(45deg);
  }
  50%{
    top: 65px;
    transform: rotate(0deg);
  }
  100%{
    top: 0px;
    transform: rotate(0deg);
  }
}

@keyframes reverse2{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes reverse3{
  0%{
    top: -65px;
    transform: rotate(135deg);
  }
  50%{
    top: -65px;
    transform: rotate(0deg);
  }
  100%{
    top: 0px;
    transform: rotate(0deg);
  }

}


@keyframes anima1 {
  0%{
    top: 0px;
    transform: rotate(0deg);
  }
  50%{
    top: 65px;
    transform: rotate(0deg);
  }
  100%{
    top: 65px;
    transform: rotate(45deg);
  }
}

@keyframes anima2 {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}
@keyframes anima3 {
  0%{
    top: 0px;
    transform: rotate(0deg);
  }
  50%{
    top: -65px;
    transform: rotate(0deg);
  }
  100%{
    top: -65px;
    transform: rotate(135deg);
  }
}




